.footer
  .wrapper
    .row.footer-row
      .footer__img.column-desktop-1-5
        img(src="img/footer-pics.png")
      .footer__menu.column-desktop-3-5
        include footer-nav
script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js")  
script(src="src/src.js")
