-
  var menuItems = ["Главная", "Kаталог", "Услуги", "Производство", "Новости", "Поддержка", "Технологии", "Контакты"];

.footer__nav
  ul
    each item in menuItems
      li
        a(href="#") #{item}
