.header#header
  .wrapper
    .header-top
      .header-top__title
        .header-top__logo
          a(href="index.html")
            img(src="img/logo.png" alt="site logo")
        .header-top__title_text.
          Полиграфия европейского уровня за умеренную цену
      .header-top__contacts
        .header-top__contacts_icon
          a(href="tel:4999432094")
            img(src="img/phone.png" alt="tel logo")
        a(href="tel:4999432094").header-top__contacts_phone
          span.first-part (499) 
          span.second-part 943-20-94 
    
    .menuOpener
      span
      span
      span
    include main-nav
