-
  var menuItems = ["Главная", "Kаталог", "Услуги", "Производство", "Новости", "Поддержка", "Технологии", "Контакты"];
nav.main-nav.default#menu
  ul
    each item in menuItems
      li
        a(href="#") 
          p #{item}
          each elem in '123456'
            span(class="test"+elem)
    li#searchitem
      form(action="#")#searchform
        input(type="search" name="search").search-field
        .button-container
          button(type="submit" name="submit").submit
          button(name="activation-btn").activ-search-btn
